.MuiFab-secondary {
    color: #fff;
    background-color: #f50057;
}

.MuiFab-secondary:hover {
    background-color: #c51162;
}

.fa, .fas{
	font-size: 1.6rem;
}

body{
    font-weight: 400!important;
	line-height: 1.43;
}

.casting-success{
    .tt-casting{
        padding-top: 32px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: $text-primary;
    }
    span{
        padding-top: 16px;
        width: 100%;
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #9AA0A6;
        max-width: 600px;
        margin: auto;
    }
    .hd-casting{
        padding-top: 88px;
        text-align: center;
        .box-hd-casting{
            width: 136px;
            height: 136px;
            text-align: center;
            padding-top: 23px;
            background: #02120b;
            border-radius: 100%;
            margin: auto;
            i{
                width: 90px;
                height: 90px;
                background: #12B76A;
                border-radius: 100%;
                color: #fff;
                text-align: center;
                line-height: 68px;
                padding-left: 6px;
                font-size: 40px;
                font-weight: 400;
                border: solid 11px #05341e;
            }
        }
    }
    .more-casting{
        text-align: center;
        .more-casting-a{
            padding: 12px 24px;
            width: 250px;;
            height: 44px;
            background: #F04438;
            border-radius: 8px;
            display: block;
            margin: auto;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            margin-top: 52px;
            margin-bottom: 80px;
        }
    }
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root{
    
}
.sl-section .sl-section__header{
    margin-top: 80px;
}
.history-main {
    display: flex;
    float: left;
    justify-content: center;
    width: 100%;
    
    .history-left {
        position: relative;
        width: 100%;
        border-radius: 50%;
        background: linear-gradient(180deg, rgba(7, 57, 236, 0.1) 0%, rgba(19, 26, 56, 0.1) 69.89%);
        z-index: -1;
        padding-right: 5%;

        .history-child {
            p{
                max-width: 100%;
                font-size: 16px;
                margin-top: 40px;
                margin-left: 0%;
                width: 100%;
                font-weight: 400;
                color: #fff;
            }
        }
        @media (max-width: 1000px){
           
        }
    }
    .history-right {
        margin-left: 10px;
        margin-top: 0px;
        position: relative;
        width: 45%;
        .small{
            transform: translate(-82px,-90px);
            @media (max-width: 1000px){
                transform: translate(-20px,-90px);
            }
        }
        @media (max-width: 1000px){
           margin-top: 40px;
        }
    }
    @media (max-width: 1000px){
        display: block;
        margin-top: 0px;

        .history-right {
            width: 100%;
            img{
                width: 100%;
                height: auto;
            }
            img.small{
                width: 0%;
            }
        }
    }
}
.container-item{
    padding-top: 75px;
}
.container-item-l{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.container-item-r{
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-top: 80px;
}
.container-item-title{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 25px;
}
.container-item-desc{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #fff;
    line-height: 25px;
}
.container-item-image{
    width: 100%;
    img{
        width: 100%;
        border-radius: 25px;
    }
}

@media (max-width: 1000px){
    .container-item-l{
        width: 100%;
        float: left;
        padding-right: 0px;
    }
    .container-item-r{
        width: 100%;
        float: left;
        padding-left: 0px;
        padding-top: 25px;
    }
}
#guide-nav-mb{
    display: none;
}

@media (max-width: 992px){
    #guide-nav-mb{
        display: block;
        margin: auto;
        width: 50%;
        text-align: center;
        .logo{
            margin: 10px  0px 0px !important;
            img{
                max-height: 52px !important;
            }
        }
    }
    .container-item{
        padding-top: 30px;
    }
}