#nl-footer {
  width: 100%;
  margin-top: 65px;
  background-color: #ffffff;
  font-size: 1.4rem;
 // margin-left: 300px;
  max-height: 200px;

  .nl-footer__top {
    position: relative;
    border-top: 1px solid #e8eaed;
    margin-left: 200px;
    .inner {
      display: flex;
      padding: 50px 0;
      justify-content: space-between;
      align-items: center;
      min-height: 90px;
      margin-left:  260px;
      background: center;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        flex-direction: column;
      }

      .Logo {
         overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px 0;
        //  width: 100%;
        max-width: 200%;
        color: #020203;

        img {
          height: 56px;
          width: auto;
          object-fit: cover;
          position: relative;
          //margin-left: 180px;
        }

        .logo-description {
          align-self: stretch;
          position: relative;
          letter-spacing: 0.17px;
          line-height: 143%;
          width: 400px;
        }
      }

      .dowwn-app {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);

        @include media-breakpoint-down(md) {
          position: relative;
          left: 0;
          top: 0;
          margin-top: 20px;
          @include translate(0, 0);
        }

        .img {
          margin-right: 30px;
           overflow: hidden;
          position: relative;

          @include media-breakpoint-down(lg) {
            margin-right: 10px;
          }

          &::before {
            content: "";
            position: absolute;
            pointer-events: none;
            top: -85px;
            left: -100%;
            width: 100px;
            height: 150px;
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0.13) 0%,
              rgba(255, 255, 255, 0.13) 84%,
              rgba(255, 255, 255, 0.5) 100%,
              rgba(255, 255, 255, 0) 100%
            );
            @include rotate(20deg);
            @include opacity(0);
          }

          img {
            height: 40px;
            width: auto;
            max-width: 100%;

            @include media-breakpoint-down(lg) {
              height: 34px;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            &::before {
              @include opacity(1);
              left: 150%;
              transition-property: left, opacity;
              transition-duration: 0.5s, 0.1s;
              transition-timing-function: ease;
            }
          }
        }
      }

      .social {
        display: flex;

        @include media-breakpoint-down(lg) {
          flex-wrap: wrap;
          justify-content: flex-end;
        }

        @include media-breakpoint-only(md) {
          flex-wrap: wrap;
          position: relative;
          top: -2px;
        }

        @include media-breakpoint-down(md) {
          flex: 0 0 100%;
          margin-top: 20px;
          justify-content: center;
          text-align: center;
        }

        p {
          font-size: 1.4rem;
          color: $footer-text-color-primary;

          @include media-breakpoint-only(md) {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: right;
          }

          @include media-breakpoint-down(md) {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
          }
        }

        a {
          color: $footer-text-color-primary;
          margin-left: 50px;
          line-height: 0;

          &:hover {
            color: $primary;
          }

          i {
            font-size: 2.1rem;

            &.fa-tiktok {
              font-size: 1.8rem;
              margin-top: 2px;
            }
          }
        }
      }
    }
  }

  // .nl-footer__middle {
  //   color: $footer-text-color-primary;

  //   .container {
  //     position: relative;
  //     align-self: stretch;
  //     flex-direction: column;
  //     padding: 32px 20px 0;
  //     gap: 24px 0;

  //     .line {
  //       border-top: 1px solid rgba(#393939, 0.5);
  //     }

  //     > .row {
  //       padding-top: 35px;
  //       padding-bottom: 35px;
  //       position: relative;

  //       div[class^="col"] {
  //         @include media-breakpoint-down(md) {
  //           padding-left: 15px;
  //           padding-right: 15px;
  //         }

  //         .ctn {
  //           h3 {
  //             font-size: 1.4rem;
  //             padding-bottom: 3px;
  //           }

  //           p {
  //             margin-top: 7px;
  //           }
  //         }

  //         dl {
  //           dt {
  //             font-size: 1rem;
  //             color: $footer-text-color-secondary;
  //             padding-bottom: 3px;
  //             text-transform: uppercase;
  //           }

  //           dd {
  //             a {
  //               display: block;
  //               margin-top: 7px;

  //               &:hover {
  //                 color: $primary;
  //               }
  //             }
  //           }
  //         }
  //       }

  //       .col-md-4 {
  //         @include media-breakpoint-down(lg) {
  //           margin-top: 30px;
  //         }
  //       }
  //     }

  //     .row {
  //       @include media-breakpoint-down(md) {
  //         margin-right: -15px;
  //         margin-left: -15px;
  //       }
  //     }
  //   }
  // }

  .container2 {
    margin-left: 100px;
  }

  // .nl-footer__bottom1 {
  //   padding: 20px 0;
  //   color: #ffffff;
  //   font-size: 1.2rem;
  //   //  margin-right:1000px;

  //   @include media-breakpoint-down(md) {
  //     font-size: 1.1rem;
  //   }
  // }

  .bottomBar {
    //width: 1184px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 0;
    gap: 0 24px px;
    color: #5f6368;
  }

  .bottomBar {
    border-top: 1px solid #b2b2b2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    // margin-left: 300px;
  }

  .bottomBar-descrption {
    flex: 1 1;
    display: inline-block;
    min-width: 618px;
    max-width: 100%;
  }

  .bottomBar-descrption {
    position: relative;
    letter-spacing: 0.17px;
    line-height: 143%;
    margin-left: 751px;

  }

  .bottomBar-TC {
    font-weight: bold;
    color: #0e1013;
    position: relative;
    letter-spacing: 0.17px;
    line-height: 143%;
    margin-right: 523px;

  }
  
  // .menuLeft {
  // 	width: 100%;
  // 	flex-direction: column;
  // 	gap: 8px 0;
  // 	min-width: 155px;
  // }
  .menuLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    // margin-left: 800px;
    margin-top: 12px;
  }

  .menu-contact-info {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 157%;
    text-transform: uppercase;
    color: #000000;
    //margin-left:600px;
  }

  .menuLeft2
 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  // .serviceCategoriesList {
  //   gap: 0 32px;
  // }

  // .contact-info {
  // 	display: flex; /* Apply flex properties to the container */
  // 	flex-direction: column; /* Set flex-direction to column to preserve line breaks */
  // }

  .serviceCategoriesList {
    // width: 1184px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1px 0 0;
    box-sizing: border-box;
    gap: 0 32px;
    max-width: 100%;
  }
  .location-- {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 8px;
  }

  .markerPin02Icon {
    height: 20px;
    width: 20px;
    position: relative;
   overflow: hidden;
    flex-shrink: 0;
  }

  .location {
    flex: 1;
    position: relative;
    letter-spacing: 0.17px;
    line-height: 143%;
    width: 100px;
  }

  .hotline {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 8px;
  }

  .hotline0972978 {
    flex: 1;
    position: relative;
    letter-spacing: 0.17px;
    line-height: 143%;
  }
  .phoneIcon1 {
    height: 20px;
    width: 20px;
    position: relative;
     overflow: hidden;
    flex-shrink: 0;
    min-height: 20px;
  }

  .email {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 8px;
  }
  .mail01Icon {
    height: 20px;
    width: 20px;
    position: relative;
     overflow: hidden;
    flex-shrink: 0;
    min-height: 20px;
  }
  .emailContactandatcliniccom {
    position: relative;
    letter-spacing: 0.17px;
    line-height: 143%;
  }

  .anDatAll {
    position: relative;
    letter-spacing: 0.25px;
    line-height: 28px;
    margin-left: 309px;

  }

  .bottomBar1 {
    align-self: stretch;
    // background-color: #f9fafb;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 128px;
    box-sizing: border-box;
    gap: 0 24px;
    text-align: center;
    font-size: 16px;
    color: #5f6368;
  }

  .bottomBar1 {
    display: flex;
    max-width: 100%;
  }

  .menuLeft3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .iconfacebook,
  .icontw,
  .iconyoutobe,
  .iconinstagram,
  .icontiktok {
    height: 24px;
    width: 24px;
    position: relative;
     overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .menuLeft4 {
    flex: 1 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-width: 592px;
    min-height: 28px;
    margin-right: 200px;
  }
  .bottomBar1,
  .menuLeft4 {
    display: flex;
    max-width: 100%;
  }

  .navMenuRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 16px;
  }

  .menu-- {
    align-self: stretch;
    background-color: #fff;
    flex-direction: column;
    padding: 32px 20px 0;
    gap: 24px 0;
  }

  .bottomBar,
  .menu-- {
    border-top: 1px solid #e8eaed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }

  .menuLeft1 {
    width: 238px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px 0;
    min-width: 155px;
    margin-top: 8px;
  }

  .menu-ds,
  .image33,
  .menuItem {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .menu-ds {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 157%;
    text-transform: uppercase;
    color: #5f6368;
  }
  .menu-ds {
    background: linear-gradient(88.6deg, #fff, rgba(255, 255, 255, 0));
    z-index: 2;
  }
  //   .menu-tq {
  //     width: 1224px;
  //     flex-direction: column;
  //     align-items: flex-end;
  //     padding: 0 20px 44px;
  //     box-sizing: border-box;
  //     gap: 48px 0;
  //     max-width: 100%;
  //     text-align: center;
  //     font-size: 14px;
  //     color: #475467;
  //     font-family: Inter;
  //   }
  .menu-tq {
    gap: 48px 0;
  }

  @media screen and (max-width: 1200px) {
    .menu-tq {
      padding-bottom: 20px;
      box-sizing: border-box;
    }
  }
  .containerWithPagination,
  .menu-tq {
    width: 292px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 2px;
  }

  .dchVDa,
  .menu-tq,
  .menu-lx,
  .menu-ut {
    position: relative;
    letter-spacing: 0.17px;
    line-height: 143%;
  }

  .menuLeft2,
  .serviceCategoriesList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .menuLeft2 {
    width: 238px;
    flex-direction: column;
    gap: 8px 0;
    min-width: 155px;
    margin-top: 10px;
  }

  .menu--kh {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 157%;
    text-transform: uppercase;
    color: #5f6368;
  }

  .menu--security,
  .menu--question,
  .menu--introduction,
  .menu--Terms-service,
  .menu--lh,
  .menu--recruitment {
    position: relative;
    letter-spacing: 0.17px;
    line-height: 143%;
  }
}
