#guide-wrapper{
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    position: absolute;
    right: 25px;
}

#guide-nav{
	margin: auto;

	nav{

		ul{
			display: flex;

			li{
				margin: 35px;


				a{
					color: $header-text-color;
					display: block;
					position: relative;
					height: $header-height-pc;
					line-height:$header-height-pc;
					font-size: 1.8rem;
					@include transition(all .2s linear);

					&:hover,&.active{
						color: $nav-link-color-active;

						&::after{
							content: '';
							position: absolute;
							left: 0;
							top: 100%;
							width: 100%;
						}
					}

					&.active{
						font-weight: 700;
					}
				}
			}
		}
	}
}
