@import 'core/abstracts/variables';

// stylelint-disable declaration-no-important
// Margin and Padding
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $prop,
        $abbrev in (width: w, height: h) {
            $sizepx : 100;
            @while $sizepx > 0{
                .#{$abbrev}#{$infix}-#{$sizepx} {
                    #{$prop}: #{$sizepx}px !important;
                    $sizepx: $sizepx - 1;
                }
            }
        }

        @each $prop,
        $abbrev in (width: w, height: h) {
            $sizepx : 100;
            @while $sizepx > 0{
                .#{$abbrev}p#{$infix}-#{$sizepx} {
                    #{$prop}: #{$sizepx}'%' !important;
                    $sizepx: $sizepx - 1;
                }

            }
        }
    }
}