.tt-casting{
	position: absolute;
	width: 270px;
	height: 28px;
	left: 577px;
	top: 708px;

	/* Text lg/Normal */

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	/* identical to box height, or 156% */

	text-align: center;

	/* White */

	color: #FFFFFF;
}