
$font-size-fullPage: 1.3rem;

// container padding, row margin
$grid-gutter-width: 50px;


// Color system
//
// system

$green	        : #45bd62;
$red	        : #f02849;
$blue	        : #3699ff;
$orange         : #f7b928 ;
$gray           : #b5b5c3;
$gradiant       : linear-gradient(90deg,#901c9c 0,#5661e1 100%);
$gradiant-hover : linear-gradient(90deg,#901c9c 100%,#5661e1 100%);

$primary   : #5965f9;
$secondary : $red;


